@font-face {
  font-family: 'iconitos';
  src: url("../fonts/icomoon.eot?glhdje");
  src: url("../fonts/icomoon.eot?#iefixglhdje") format('embedded-opentype'), url("../fonts/icomoon.woff?glhdje") format('woff'), url("../fonts/icomoon.ttf?glhdje") format('truetype'), url("../fonts/icomoon.svg?glhdje#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  color: #dd4f24;
}
body {
  background: #e8e8e8;
  color: #444;
  font-family: Arial;
  font-size: 16px;
  transition: font-size 1s;
}
footer {
  background: #dd4f24;
  color: rgba(255,255,255,0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
}
footer h3 {
  font-size: 14px;
  text-align: center;
}
footer h3 strong {
  display: block;
}
footer h3 .mejor:before,
footer h3 .mejor:after {
  content: " - ";
}
form {
  display: none;
  padding: 0.8em;
}
form label {
  display: inline-block;
  margin-left: 60px;
  width: 60px;
}
header {
  background: #444;
  color: #fff;
  padding: 0.5em;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
header .logo {
  float: left;
  border-right: 1px solid #22bce0;
  width: 60px;
}
header .logo img {
  width: 52px;
}
header .titular {
  margin: 0 60px 0 60px;
}
header .titular .filtro {
  color: #22bce0;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  font-style: 14px;
}
header .titular .publicar {
  float: right;
  background: #dd4f24;
  color: #fff;
  margin: -0.5em 1em 0 0;
  padding: 0.2em 0.5em;
  text-decoration: none;
  font-style: italic;
  text-shadow: 2px 1px 0px #000;
}
header .titular .publicar:before {
  display: inline-block;
  margin: 0 3px 0 0;
  content: "\e600";
  font-family: "iconitos";
}
header .titular .titulo {
  font-size: 1.1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
header .usuario {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 5;
  color: #fff;
}
header .usuario .avatar {
  margin: 0 1.1em 0 0;
  position: relative;
  z-index: 1;
}
header .usuario .avatar img {
  width: 50px;
  border-radius: 50%;
}
header .usuario .flechita {
  background: #dd4f24;
  display: block;
  color: #fff;
  text-align: right;
  position: absolute;
  width: 80%;
  top: 30%;
  right: 0;
  padding: 2px;
  margin: 0 0 0 0;
  text-decoration: none;
}
header .usuario .flechita:after {
  font-family: "iconitos";
  content: "\e602";
  text-shadow: 1px 1px 0px #000;
}
nav {
  background: #22bce0;
  border-left: 15px solid #fff;
  position: relative;
}
nav:before {
  content: "";
  border-bottom: 20px solid transparent;
  border-left: 7px solid #fff;
  border-top: 20px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
nav .menu {
  margin: 0;
  overflow-x: auto;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  padding: 0;
}
nav .menu li {
  display: inline-block;
}
nav .menu li a {
  margin: 0 0.2em;
  color: #fff;
  display: block;
  padding: 0 0.2em;
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.posts {
  padding: 0.5em;
}
.posts .post {
  margin-bottom: 1em;
  background: #fff;
  color: #7a7a7a;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  border-radius: 0 0 0.5em 0.5em;
}
.posts .post .acciones {
  border-top: 3px solid #22bce0;
  padding: 0.5em;
  overflow: hidden;
}
.posts .post .acciones .datos {
  float: right;
}
.posts .post .acciones .datos .comentarios {
  background: #444;
  border-radius: 3px;
  color: #fff;
  margin: 0 1em 0 0;
  padding: 2px 5px;
  text-decoration: none;
}
.posts .post .acciones .datos .estrellita {
  text-decoration: none;
}
.posts .post .acciones .datos .estrellita:before {
  color: #e0d561;
  content: "\e601";
  font-family: "iconitos";
}
.posts .post .acciones .votos {
  float: left;
}
.posts .post .acciones .votos .down,
.posts .post .acciones .votos .up {
  font-family: "iconitos";
  font-size: 1.3em;
  text-decoration: none;
  vertical-align: middle;
}
.posts .post .acciones .votos .down {
  color: #f00;
}
.posts .post .acciones .votos .down:before {
  content: "\e602";
}
.posts .post .acciones .votos .up {
  color: #008000;
}
.posts .post .acciones .votos .up:after {
  content: "\e603";
}
.posts .post .descripcion {
  color: #7a7a7a;
}
.posts .post .descripcion .detalles {
  height: 160px;
  margin-left: 130px;
}
.posts .post .descripcion .detalles .autor {
  margin: 0.5em 0 2em 0;
}
.posts .post .descripcion .detalles .fecha {
  margin: 0 1em 0 0;
  float: right;
}
.posts .post .descripcion .detalles .tag {
  background: #22bce0;
  color: #fff;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  text-decoration: none;
}
.posts .post .descripcion .detalles .titulo {
  color: #444;
  font-size: 1.1em;
  font-style: italic;
  margin: 0;
  padding: 0.5em 0.5em 0 0;
}
.posts .post .descripcion .imagen {
  display: block;
  float: left;
}
.posts .post .descripcion .imagen img {
  height: 160px;
  vertical-align: top;
  width: 120px;
}
/*Cuando es mayor a 768 hace esto DESKTOP*/
@media screen and (min-width: 827px) {
  body {
    background: #00f;
  }
  header .titular .publicar {
    padding-left: 3em;
    position: relative;
  }
  header .titular .publicar:before {
    left: 0px;
    font-size: 2.5em;
    position: absolute;
    top: -10px;
  }
  .posts .post {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }
  .posts .post:nth-child(odd) {
    margin-right: 2%;
  }
}
/*Entre 768 y 827 deja el default*/
/*ipad Entre 480 y 768*/
@media screen and (min-width: 480px) and (max-width: 768px) {
  body {
    background: #008000;
  }
  .posts .post .descripcion .detalles .tag {
    margin-right: 0px;
  }
  .posts .post .descripcion .detalles .fecha {
    margin-top: 0px;
  }
}
/*iphone menos de 480*/
@media screen and (max-width: 480px) {
  body {
    background: #f00;
  }
  nav .menu li {
    display: block;
  }
  .posts {
    padding: 0.5em;
  }
  .posts .post {
    background: #ccc;
  }
  .posts .post .descripcion {
    color: #7a7a7a;
  }
  .posts .post .descripcion .detalles {
    height: 160px;
    margin-left: 5px;
  }
  .posts .post .descripcion .detalles .tag {
    float: left;
    margin: 0;
    position: absolute;
  }
  .posts .post .descripcion .detalles .fecha {
    float: left;
    margin-top: 35px;
  }
  .posts .post .descripcion .imagen {
    display: none;
    float: left;
  }
  .posts .post .descripcion .imagen img {
    height: 15px;
    vertical-align: top;
    width: 5px;
  }
}
